%h2= t(".forgot_your_password?")
= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.input :email
  = f.commit_button :send_reset_password_instructions
