@import compass/css3
@import compass/css3/transform
@import compass/utilities
@import compass/layout/stretching
//configurable
$radius: 4px
$font-size: 12px
$line-height: $font-size / 3 * 4

$base_color: #bbccee
$darker-color: darken($base-color, 30%)
$hover-color: lighten($base-color, 10%)

$date_width: 90px
$time_width: 40px
$time_right_offset: 4px

$booking_color: $base_color
$booking_border_width: 1px 
$booking_border: $booking_border_width solid $darker-color
$booking_top_padding: 5px
$booking_side_padding: 2px
$booking_margin: 4px
$new_link_width: 15px

$table_border_width: 1px
$table_thick_border:  $table_border_width solid black
$table_medium_border: $table_border_width solid gray
$table_thin_border: $table_border_width solid $darker-color
$column_width: 165px
$column_vertical_padding: 4px

$hover_factor_left_bottom: 4
$hover_factor_right_top: 2

//don't do nasty things here
$dh: $line-height + 2 * ($booking_top_padding + $booking_border_width)
$booking_padding: $booking_top_padding $booking_side_padding
$machine_width: $column_width - 2 * $column_vertical_padding - 2 * $booking_border_width
$inline_div_width: $machine_width - 2 * $booking_side_padding
$inline_div_hover_width: $inline_div_width - ($hover_factor_left_bottom + $hover_factor_right_top - 2) * $booking_border_width
$inline_div_margin_left: -$booking_side_padding

@mixin hover_border_width
  border-top-width: $hover_factor_right_top * $booking_border_width
  border-right-width: $hover_factor_right_top * $booking_border_width
  border-bottom-width: $hover_factor_left_bottom * $booking_border_width
  border-left-width: $hover_factor_left_bottom * $booking_border_width
@mixin font_def
  font-size: $font-size
  line-height: $line-height
@mixin rounded_bottom($factor: 1)
  +border-top-radius(0)
  +border-bottom-radius($factor * $radius)
@mixin rounded_top($factor: 1)
  +border-bottom-radius(0)
  +border-top-radius($factor * $radius)
@mixin inline_div
  width: $inline_div_width
  margin: 0
  margin-left: $inline_div_margin_left
  border: none
@mixin inline_hover_div
  width: $inline_div_hover_width
  background-color: $hover-color
  border: $booking_border
  +hover_border_width
  margin-left: $inline_div_margin_left - $hover_factor_left_bottom * $booking_border_width
  overflow: hidden

body.bp
  h2.calendar
    margin-left: $date_width - 8px 
  div
    &.select-machines
      margin: 0px 10px 10px 10px
    &.machine_select
      display: block
      float: left
      margin-right: 20px
      width: 200px
    &.calendar
      +border-radius(20px)
      &.outer
        border: $table_medium_border
        border-color: $darker-color
      &.inner
        padding: 5px 0 0 0
        background-color: white
        border: $table_thin_border
        border-left: none
        border-right: none
      &.middle
        background-color: #e5ecf9
        border: $table_thin_border
        margin: 0 -1px
        
    &.up, &.down
      margin: 0
      padding: 0
      border: none
      text-align: center
  table.calendar
    margin-bottom: 0
    border-collapse: collapse
    a
      &.next_machine_link
        float: right
      &.prev_machine_link
        float: right
    tr
      &.day0 td
        border-bottom: $table_thick_border
      @for $i from 1 through 10
        &.height-#{$i}
          height: $dh * $i + ($i + 1) * $booking_margin + $table_border_width
      &.last td
        border-bottom: none
    th
      border-bottom: $table_thin_border
    td
      +font_def
      border: $table_thin_border
      border-right: none
      padding: 0 $column_vertical_padding
      vertical-align: top
      &.date
        border-left: none
        white-space: nowrap
        width: $date_width
        font-weight: bold
        padding-top: $booking_margin + $booking_top_padding + $booking_border_width
      div
        width: $machine_width - 2 * $booking_side_padding
        +font_def
        padding: $booking_padding
        margin: $booking_margin 0
        +border-radius($radius)
        &.booking
          border: $booking_border
          background-color: $booking_color
          position: relative
          overflow: hidden
          width: $machine_width - 2 * $booking_side_padding
          &:hover
            +hover_border_width
            border-bottom-width: $booking_border_width
            overflow: visible
            background-color: $darker-color
            width: $inline_div_hover_width
            div.details
              +inline_hover_div
              +rounded_bottom(2)
              border-top: none
              visibility: visible
            div.booking_header
              +inline_hover_div
              +rounded_top(1)
              border-bottom: none
              margin-top: - $booking_top_padding - $hover_factor_right_top * $booking_border_width
              padding-top: $booking_top_padding - ($hover_factor_right_top - 1) * $booking_border_width
              a.first
                margin-left:  2 * $booking_side_padding - ($hover_factor_left_bottom - 1) * $booking_border_width
        &.spacer
          height: $dh - 2 * $booking_top_padding
        &.free
          position: relative
          padding:none
          a
            margin-bottom: $booking_top_padding + $booking_border_width
            position: relative
            width: $new_link_width
            top: 0px
        &.conflicts
          +inline-block
          width: $machine_width - 2 * $booking_side_padding - $new_link_width - $booking_border_width
          margin: 0
          padding: 0
          margin-top: - $booking_top_padding
          &.inner
            overflow: hidden
            white-space: nowrap
            padding: $booking_top_padding $booking_side_padding
            position: relative
            div.conflict_details
              margin: 0
              margin-bottom: $booking_top_padding
              padding: 0
              padding-left: 10px
              display: none
              border: $booking_border
              border-style: none
            &:hover
              z-index: 200
              overflow: visible
              background-color: $hover-color
              border: $booking_border
              div.conflict_details
                display: block 
        &.end
          +border-top-radius(0)
        &.start
          margin-top: $booking_margin
          +border-bottom-radius(0)
        &.multiday
          margin-top: 0
          position: absolute
          overflow: hidden
        &.all_day
          margin-top: $booking_margin
        &.from_midnight
          margin-top: $booking_margin
        &.starts_at, &.ends_at
          position: absolute
          z-index: 10
          padding: 0
          margin: 0
          margin-left: $column_width - 2 * ($booking_margin + $booking_border_width) - $time_width - $time_right_offset 
        &.starts_at
          margin-top: -14px
        &.ends_at
          margin-top: -12px
        &.time
          padding: 1px 0
          background-color: white
          border: $booking_border
          border-color: #99aacc
          text-align: center
          width: $time_width
          font-size: 0.9em
          line-height: 1.0em
        &.details
          +inline_div
          visibility: hidden
          position: relative
          margin-top: -4px
          z-index: 100
          +rounded_bottom(2)
        &.booking_header
          +inline_div
          margin-top: - $booking_top_padding
          a.first
            margin-left: 2 * $booking_side_padding
        &.details
          ul
            margin: 0
            li
              font-size: 0.75em
        .not_available
          color: darken(red, 25%)
          &.whole_time
            color: red

        @for $i from 1 through 60
          @for $j from 0 through $i
            &.height-#{$i}-#{$j}
              height: $dh * $i - 2 * ($booking_top_padding + $booking_border_width) + (2 * $i - $j - 2) * $booking_margin + ($i - $j - 1) * $table_border_width 
              &:hover
                height: $dh * $i - 2 * ($booking_top_padding + (($hover_factor_right_top + 1) / 2) * $booking_border_width) + (2 * $i - $j - 2) * $booking_margin + ($i - $j - 1) * $table_border_width 
