@import compass/css3
@import compass/utilities
@import compass/layout/stretching
//configurable
$radius: 4px
$font-size: 12px
$line-height: $font-size / 3 * 4

$base_color: #bbccee
$darker-color: darken($base-color, 30%)
$hover-color: lighten($base-color, 14%)

$date_width: 90px
$time_width: 40px
$time_right_offset: 4px

$booking_color: $base_color
$booking_border_width: 1px
$booking_border: $booking_border_width solid $darker-color
$booking_top_padding: 5px
$booking_side_padding: 2px
$booking_margin: 4px

$table_border_width: 1px
$table_thick_border: $table_border_width solid black
$table_medium_border: $table_border_width solid gray
$table_thin_border: $table_border_width solid $darker-color
$column_width: 165px
$column_vertical_padding: 4px

//don't do nasty things here
$dh: $line-height + 2 * ($booking_top_padding + $booking_border_width)
$booking_padding: $booking_top_padding $booking_side_padding
$machine_width: $column_width - 2 * $column_vertical_padding - 2 * $booking_border_width


@mixin font_def
  font-size: $font-size
  line-height: $line-height

body.bp
  h2.calendar
    margin-left: $date_width - 8px 
  div
    &.select-machines
      margin: 0px 10px 10px 10px
    &.machine_select
      display: block
      float: left
      margin-right: 20px
      width: 200px
    &.calendar
      +border-radius(20px)
      &.outer
        border: $table_medium_border
        border-color: $darker-color
      &.inner
        padding: 5px 0 0 0
        background-color: white
        border-top: $table_thin_border
        border-bottom: $table_thin_border
      &.middle
        background-color: #e5ecf9
        border: $table_thin_border
        border-color: $darker-color
        margin: 0 -1px
        
    &.up, &.down
      padding: 0
      border: none
      text-align: center
      margin: 0
  table.calendar
    margin-bottom: 0
    border-collapse: collapse
    a
      &.next_machine_link
        float: right
      &.prev_machine_link
        float: right
    tr
      &.day0 td
        border-bottom: $table_thick_border
      @for $i from 1 through 10
        &.height-#{$i}
          height: $dh * $i + ($i + 1) * $booking_margin + $table_border_width
      &.last td
        border-bottom: none
    th
      border-bottom: $table_thin_border
    td
      +font_def
      border-left: $table_thin_border
      border-bottom: $table_thin_border
      padding: 0 $column_vertical_padding
      vertical-align: top
      &.date
        border-left: none
        white-space: nowrap
        width: $date_width
        font-weight: bold
        padding-top: $booking_margin + $booking_top_padding + $booking_border_width
      div
        width: $machine_width - 2 * $booking_side_padding
        +font_def
        padding: $booking_padding
        margin: $booking_margin 0
        +border-radius($radius)
        &.booking
          border: $booking_border
          background-color: $booking_color
          position: relative
          overflow: hidden
          &:hover
            background-color: $darker-color
            border-top-width: 2 * $booking_border_width
            border-left-width: 4 * $booking_border_width
            width: $machine_width - 2 * $booking_side_padding - 3 * $booking_border_width
            overflow: visible
            div.details
              visibility: visible
            div.booking_header
              border-left-width: 4 * $booking_border_width
              width: $machine_width - 2 *$booking_side_padding - 5 * $booking_border_width
              background-color: $hover-color
              margin-top: -($booking_top_padding )
              padding-left: 3 * $booking_side_padding - 3 * $booking_border_width
              padding-top: 1.5 * $booking_top_padding - 3 * $booking_border_width
        &.spacer
          height: $dh - 2 * $booking_top_padding
        &.free
          padding-top: $booking_top_padding + $booking_border_width
          padding-bottom: $booking_top_padding + $booking_border_width
          position: relative
        &.end
          +border-top-radius(0)
        &.start
          margin-top: $booking_margin
          +border-bottom-radius(0)
        &.multiday
          margin-top: 0
          position: absolute
          overflow: hidden
        &.all_day
          margin-top: $booking_margin
        &.from_midnight
          margin-top: $booking_margin
        &.starts_at, &.ends_at
          position: absolute
          z-index: 10
          padding: 0
          margin: 0
          margin-left: $column_width - 2 * ($booking_margin + $booking_border_width) - $time_width - $time_right_offset 
        &.starts_at
          margin-top: -14px
        &.ends_at
          margin-top: -12px
        &.time
          padding: 1px 0
          background-color: white
          border: $booking_border
          border-color: #99aacc
          text-align: center
          width: $time_width
          font-size: 0.9em
          line-height: 1.0em
        &.details
          visibility: hidden
          position: relative
          margin-left: -$booking_side_padding - 4 * $booking_border_width
          margin-top: -4px
          border: $booking_border
          border-width: 2 * $booking_border_width
          border-left-width: 4 * $booking_border_width
          border-bottom-width: 4 * $booking_border_width
          width: $machine_width - 3 * $booking_side_padding - 2 * $booking_border_width
          border-top: none
          z-index: 100
          background-color: $hover-color
          +border-top-radius(0)
          +border-bottom-radius(2 * $radius)
          ul
            margin: 0
            li
              font-size: 0.75em
        &.booking_header
          margin: 0
          margin-left: -$booking_side_padding 
          margin-top: -($booking_top_padding + 2 * $booking_border_width)
          padding-left: 3 * $booking_side_padding
          padding-top: 1.5 * $booking_top_padding
          border: none
          width: $machine_width - 2 *$booking_side_padding

        @for $i from 1 through 60
          @for $j from 0 through $i
            &.height-#{$i}-#{$j}
              height: $dh * $i - 2 * ($booking_top_padding + $booking_border_width) + (2 * $i - $j - 2) * $booking_margin + ($i - $j - 1) * $table_border_width 
              &:hover
                height: $dh * $i - 2 * ($booking_top_padding + 1.5 * $booking_border_width) + (2 * $i - $j - 2) * $booking_margin + ($i - $j - 1) * $table_border_width 
