@import compass/css3
@import compass/utilities/lists/horizontal-list
body.bp
  li.input, li.button
    list-style-type: none
  form
    &.formtastic
      fieldset
        border: none
        padding: 1em 0 0 0 
        margin: 0
        ol
          list-style-type: none
          margin: 0
          padding-left: 0
          li.button
            a
              padding: 2px
              border: 1px solid #a0a0a0
              +border-radius(5px)
              line-height: 18px
              float: left
              font-size: 13px
              color: #444444
              background-color: #dedede
              font-family: sans-serif
          &.choices-group, &.fragments-group
            +horizontal-list
            margin-left: 25%
        &.buttons
          padding-left: 25%
        &.choices
          label
            font-size: 13px
            line-height: 18px
      #machine_max_duration, #machine_max_future_bookings, #machine_min_booking_time
        width: 20px
      #machine_max_duration_unit, #machine_min_booking_time_unit
        padding: 4px 0
